src/CIORating/Subset/cioRatingTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="urn:us:gov:cioRating-type"
        version="FY_2019" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="longTextString">
    <restriction base="string">
      <maxLength value="2500"/>
    </restriction>
  </simpleType>
  <simpleType name="investmentIdentifierType">
    <restriction base="string">
      <pattern value="[0-9]{3}\-[0-9]{9}"/>
    </restriction>
  </simpleType>
  <simpleType name="cioRatingType">
    <restriction base="integer">
      <minInclusive value="1"/>
      <maxInclusive value="5"/>
    </restriction>
  </simpleType>
</schema>
