src/ITBudget/Extension/Update-ITBudget-EXT-e.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:update-ITBudget-ext="urn:us:gov:update-ITBudget-ext"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:i="http://niem.gov/niem/appinfo/2.0"
            xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:ITBudgetFacet="urn:us:gov:ITBudget-facets"
            xmlns:nc="http://niem.gov/niem/niem-core/2.0"
            xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" targetNamespace="urn:us:gov:update-ITBudget-ext"
            elementFormDefault="qualified" version="4.0.0">
    <xsd:annotation>
        <xsd:documentation>The extension schema used for the Update operation of ITBudget.</xsd:documentation>
        <xsd:appinfo>
            <i:ConformantIndicator>true</i:ConformantIndicator>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import namespace="http://niem.gov/niem/appinfo/2.0"
                schemaLocation="../Subset/niem/appinfo/2.0/appinfo.xsd"/>
    <xsd:import namespace="http://niem.gov/niem/structures/2.0"
                schemaLocation="../Subset/niem/structures/2.0/structures.xsd"/>
    <xsd:import namespace="urn:us:gov:ITBudget-facets" schemaLocation="../Subset/ITBudget-facet.xsd"/>
    <xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
                schemaLocation="../Subset/niem/niem-core/2.0/niem-core.xsd"/>
    <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0"
                schemaLocation="../Subset/niem/proxy/xsd/2.0/xsd.xsd"/>
    <xsd:complexType name="AnnualBudgetType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:AgencyFundingAmount"/>
                    <xsd:element ref="update-ITBudget-ext:AgencyContributionAmount"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AnnualInfrastructureLineItemType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:PriorYearAmount"/>
                    <xsd:element ref="update-ITBudget-ext:CurrentYearAmount"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AnnualLineItemType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:PriorYearAmount"/>
                    <xsd:element ref="update-ITBudget-ext:CurrentYearAmount"/>
                    <xsd:element ref="update-ITBudget-ext:BudgetYearAmount"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AnnualOverallBudgetType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:PriorYear"/>
                    <xsd:element ref="update-ITBudget-ext:CurrentYear"/>
                    <xsd:element ref="update-ITBudget-ext:BudgetYear"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ProvisionedITSummaryType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:PublicCloud"/>
                    <xsd:element ref="update-ITBudget-ext:PrivateCloud"/>
                    <xsd:element ref="update-ITBudget-ext:CommunityCloud"/>
                    <xsd:element ref="update-ITBudget-ext:HybridCloud"/>
                    <xsd:element ref="update-ITBudget-ext:DeploymentModelOtherService"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DataCenterSpendingSummaryType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:DataCenterLabor"/>
                    <xsd:element ref="update-ITBudget-ext:DataCenterSoftware"/>
                    <xsd:element ref="update-ITBudget-ext:DataCenterHardware"/>
                    <xsd:element ref="update-ITBudget-ext:DataCenterElectricity"/>
                    <xsd:element ref="update-ITBudget-ext:DataCenterFacility"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BudgetAccountSummaryType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:BudgetAccount" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BudgetAccountType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:FundingCode"/>
                    <xsd:element ref="update-ITBudget-ext:CIOAuthorityAmount"/>
                    <xsd:element ref="update-ITBudget-ext:SummaryOandM"/>
                    <xsd:element ref="update-ITBudget-ext:SummaryDME"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FunctionalBusinessSponsorInformationType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:FunctionalBusinessSponsorName" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:FunctionalBusinessSponsorTitle" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FundingSourceCharacterizationType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:FundingSourceName"/>
                    <xsd:element ref="update-ITBudget-ext:AlternativeBureauCode" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FundingSourceLineItemsType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:FundingSourceLineItem" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FundingSourceLineItemType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:FundingSourceUniqueInvestmentID"/>
                    <xsd:element ref="update-ITBudget-ext:FundingCode"/>
                    <xsd:element ref="update-ITBudget-ext:FundingSourceCharacterization"/>
                    <xsd:element ref="update-ITBudget-ext:OandM"/>
                    <xsd:element ref="update-ITBudget-ext:DME"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FundingSourceUniqueInvestmentIDType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:CurrentUII"/>
                    <xsd:element ref="update-ITBudget-ext:FundingSourceInvestmentLineStructure"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="InvestmentCharacterizationType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:InvestmentTitle"/>
                    <xsd:element ref="update-ITBudget-ext:InvestmentDescription"/>
                    <xsd:element ref="update-ITBudget-ext:BureauCode"/>
                    <xsd:element ref="update-ITBudget-ext:PartofITPortfolio"/>
                    <xsd:element ref="update-ITBudget-ext:InfrastructureManagementCategory"/>
                    <xsd:element ref="update-ITBudget-ext:MissionArea"/>
                    <xsd:element ref="update-ITBudget-ext:TypeofInvestment"/>
                    <xsd:element ref="update-ITBudget-ext:NationalSecuritySystemsIdentifier"/>
                    <xsd:element ref="update-ITBudget-ext:FEAPrimaryBRMService"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="InvestmentPortfolioClassificationsType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:CrossBoundaryInformationIdentifier" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:SupportsAntiTerrorismISE" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="InvestmentStatusChangeType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:StatusIdentifier"/>
                    <xsd:element ref="update-ITBudget-ext:AgencyReasonforChange"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ITBudgetReportType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:ITPortfolio" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="update-ITBudget-ext:ProvisionedITSummary" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:DataCenterSpendingSummary" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:BudgetAccountSummary" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:MessageInformation"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ITPortfolioType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:UniqueInvestmentID"/>
                    <xsd:element ref="update-ITBudget-ext:InvestmentCharacterization"/>
                    <xsd:element ref="update-ITBudget-ext:InvestmentStatusChange"/>
                    <xsd:element ref="update-ITBudget-ext:InvestmentPortfolioClassification"
                                 minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:FunctionalBusinessSponsorInformation"/>
                    <xsd:element ref="update-ITBudget-ext:OandM"/>
                    <xsd:element ref="update-ITBudget-ext:DME"/>
                    <xsd:element ref="update-ITBudget-ext:GovernmentFTECostForTotalPY"/>
                    <xsd:element ref="update-ITBudget-ext:GovernmentFTENumberForPY"/>
                    <xsd:element ref="update-ITBudget-ext:GovernmentFTECostForTotalCY"/>
                    <xsd:element ref="update-ITBudget-ext:GovernmentFTENumberForCY"/>
                    <xsd:element ref="update-ITBudget-ext:GovernmentFTECostForTotalBY"/>
                    <xsd:element ref="update-ITBudget-ext:GovernmentFTENumberForBY"/>
                    <xsd:element ref="update-ITBudget-ext:CloudComputingAlternativesEvaluation" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:ProvisionedITSpending"/>
                    <xsd:element ref="update-ITBudget-ext:SecuritySpending"/>
                    <xsd:element ref="update-ITBudget-ext:EndofLifeSpendingCY" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:FundingSourceLineItems"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MessageInformationType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:AgencyCode"/>
                    <xsd:element ref="update-ITBudget-ext:PBGCflag" minOccurs="0"/>
                    <xsd:element ref="update-ITBudget-ext:DraftIndicator"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ProvisionedITSpendingType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:ProvisionedOandM"/>
                    <xsd:element ref="update-ITBudget-ext:ProvisionedDME"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="UniqueInvestmentIDType">
        <xsd:annotation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ComplexObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="update-ITBudget-ext:CurrentUII"/>
                    <xsd:element ref="update-ITBudget-ext:PriorUII" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="update-ITBudget-ext:InvestmentLineStructure"/>
                    <xsd:element ref="update-ITBudget-ext:SharedServicesCategory"/>
                    <xsd:element ref="update-ITBudget-ext:SharedServicesIdentifier" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="AgencyCode" type="ITBudgetFacet:AgencyCodeType">
        <xsd:annotation>
            <xsd:documentation>The assigned code of a particuliar agency</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AgencyContributionAmount" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>Both monetary contributions and fees for services provided by partner agencies to managing partners or shared service providers of multi-agency collaboration.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AgencyFundingAmount" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>Agency's authorized funding for a given investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AgencyReasonforChange" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>Agency's description of the reason for changing the investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternativeBureauCode" type="ITBudgetFacet:BureauCodeType">
        <xsd:annotation>
            <xsd:documentation>Alternative Bureau Code is only required when specifying a bureau for this funding source that is different than bureau specified in the MAX Funding Account.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BudgetYear" type="update-ITBudget-ext:AnnualBudgetType">
        <xsd:annotation>
            <xsd:documentation>A complex type used to contain information about an agency's spending in a budget year for particuliar investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BureauCode" type="ITBudgetFacet:BureauCodeType">
        <xsd:annotation>
            <xsd:documentation>Two digits are your bureau code. If this is a department only reporting or an agency-wide activity, use 00 as your bureau code. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BudgetYearAmount" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CloudComputingAlternativesEvaluation"
                 type="ITBudgetFacet:CloudComputingAlternativesEvaluationType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProvisionedITSummary" type="update-ITBudget-ext:ProvisionedITSummaryType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DataCenterSpendingSummary" type="update-ITBudget-ext:DataCenterSpendingSummaryType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BudgetAccountSummary" type="update-ITBudget-ext:BudgetAccountSummaryType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BudgetAccount" type="update-ITBudget-ext:BudgetAccountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CIOAuthorityAmount" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SummaryOandM" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SummaryDME" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CommunityCloud" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CurrentUII" type="nc:UIIType">
        <xsd:annotation>
            <xsd:documentation>The unique investment identifier used to report the investment. Indicating the UII used for the budget process allows cross-walk and historical analysis crossing fiscal years for tracking purposes. This current UII is mandatory.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CurrentYear" type="update-ITBudget-ext:AnnualBudgetType">
        <xsd:annotation>
            <xsd:documentation>An element used to describe an agency's spending during the current year for a particuliar investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CurrentYearAmount" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DataCenterLabor" type="update-ITBudget-ext:AnnualInfrastructureLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DataCenterSoftware" type="update-ITBudget-ext:AnnualInfrastructureLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DataCenterHardware" type="update-ITBudget-ext:AnnualInfrastructureLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DataCenterElectricity" type="update-ITBudget-ext:AnnualInfrastructureLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DataCenterFacility" type="update-ITBudget-ext:AnnualInfrastructureLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeploymentModelOtherService" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DME" type="update-ITBudget-ext:AnnualOverallBudgetType">
        <xsd:annotation>
            <xsd:documentation>Program cost for new investments, changes or modifications to existing systems to improve capability or performance, changes mandated by the Congress or agency leadership, personnel costs for investment management, and direct support. For major IT investments, this amount should equal the sum of the amounts reported for the planning and acquisition plus the associated FTE costs reported in the exhibit 300.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DraftIndicator" type="ITBudgetFacet:YesNoCodeType">
        <xsd:annotation>
            <xsd:documentation>Indicates whether or not a message is a draft or full portfolio update. The value is set to true if it is draft (1), false if it is a full portfolio update (0).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FunctionalBusinessSponsorInformation"
                 type="update-ITBudget-ext:FunctionalBusinessSponsorInformationType">
        <xsd:annotation>
            <xsd:documentation>A complex element used to contain elements regarding Functional/Business Sponsor Information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FunctionalBusinessSponsorName" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FunctionalBusinessSponsorTitle" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingSourceName" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>Funding source name.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingSourceLineItems" type="update-ITBudget-ext:FundingSourceLineItemsType">
        <xsd:annotation>
            <xsd:documentation>Element used for grouping funding source (04 - Funding source or appropriation) line items.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingSourceLineItem" type="update-ITBudget-ext:FundingSourceLineItemType">
        <xsd:annotation>
            <xsd:documentation>Element used for funding source (04 - Funding source or appropriation) line item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingSourceCharacterization" type="update-ITBudget-ext:FundingSourceCharacterizationType">
        <xsd:annotation>
            <xsd:documentation>A complex element used to contain elements related to describing general attributes about an agency's investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingSourceInvestmentLineStructure"
                 type="ITBudgetFacet:FundingSourceInvestmentLineStructureType">
        <xsd:annotation>
            <xsd:documentation>These two digits identify the nature of the “line item” in the Exhibit 53 structure</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingSourceUniqueInvestmentID"
                 type="update-ITBudget-ext:FundingSourceUniqueInvestmentIDType">
        <xsd:annotation>
            <xsd:documentation>A complex element used to contain elements that describe the investment's UII.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FundingCode" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>Describes the code associated with an agency funding line item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GovernmentFTENumberForPY" type="nc:FTEAmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GovernmentFTENumberForCY" type="nc:FTEAmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GovernmentFTENumberForBY" type="nc:FTEAmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GovernmentFTECostForTotalPY" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>This is the total PY cost represented by the number of government FTEs associated with the Investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GovernmentFTECostForTotalCY" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GovernmentFTECostForTotalBY" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HybridCloud" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CrossBoundaryInformationIdentifier" type="ITBudgetFacet:CrossBoundaryInformationIdentifierType">
        <xsd:annotation>
            <xsd:documentation>One that crosses a bureau or agency boundary, including information sharing with international, State, local, tribal, industry, or non-governmental organization partners. If the investment supports reusable, standardized information exchanges indicate which: 1) NIEM, 2) UCORE, 3) XBLR, 4) Other. If the investment does not support reusable, standardized information exchange, please leave blank.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SupportsAntiTerrorismISE"
                 type="ITBudgetFacet:SupportsAntiTerrorismISEType">
        <xsd:annotation>
            <xsd:documentation>This is an activity that supports Agency efforts to develop, integrate, and reuse anti-terrorism-related mission capabilities and technical services.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InvestmentCharacterization" type="update-ITBudget-ext:InvestmentCharacterizationType">
        <xsd:annotation>
            <xsd:documentation>A complex element used to contain elements related to describing general attributes about an agency's investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SharedServicesCategory" type="ITBudgetFacet:SharedServicesCategoryType">
        <xsd:annotation>
            <xsd:documentation>These two digits identify the investment category of the investment you are reporting.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SharedServicesIdentifier" type="nc:SharedServicesIdentifierType">
        <xsd:annotation>
            <xsd:documentation>This code represents the same 4-digit identifier previously provided in the last nine (9) digits of the UII for Investments starting with xxx-99999XXXX.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InvestmentDescription" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>Short public description (limited to 255 characters) for each investment (major, migration, partner contribution, and non-major). The descriptions should explain the purpose of the investment and what program(s) it supports, including the value to the public. This description should be understandable to someone who is not an expert of the agency. If the investment is part of a multi-agency initiative or part of another business case, please provide description of where that business case is located in the appropriate agency Budget submission (i.e. managing partner UPI). For example, if the investment represents your agency's participation in one of the Presidential initiatives, the description should state that this investment represents your agency's participation in one of the Presidential initiatives and should refer to the UPI of the managing partner's business case (i.e. managing partner UPI).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InvestmentPortfolioClassification"
                 type="update-ITBudget-ext:InvestmentPortfolioClassificationsType">
        <xsd:annotation>
            <xsd:documentation>A complex object used to contain elements that classify an investment as a certain type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InvestmentStatusChange" type="update-ITBudget-ext:InvestmentStatusChangeType">
        <xsd:annotation>
            <xsd:documentation>A complex object that includes information about an investment status change, including its type and a description of the change.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InvestmentTitle" type="nc:TextType">
        <xsd:annotation>
            <xsd:documentation>Definitive title explaining the investment. If the investment title has changed, include the previous name in parentheses. For &#34;funding source&#34; information, provide the 10-digit OMB max account code (OMB Circular A-11, Section 79.2). Additional information can be found in Part III of this circular. For the purposes of Exhibit 53 only, funding sources should continue to utilize the &#34;-9&#34; suffix to flag funding from the American Recovery and Reinvestment Act of 2009 (ARRA).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InvestmentLineStructure" type="ITBudgetFacet:InvestmentLineStructureType">
        <xsd:annotation>
            <xsd:documentation>These two digits identify the nature of the “line item” in the Exhibit 53 structure.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ITPortfolio" type="update-ITBudget-ext:ITPortfolioType">
        <xsd:annotation>
            <xsd:documentation>An element representing an Exhibit 53 - Part 1</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MessageInformation" type="update-ITBudget-ext:MessageInformationType">
        <xsd:annotation>
            <xsd:documentation>Information related not to a particular investment but to the message itself is contained here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MissionArea" type="ITBudgetFacet:MissionAreaCodeType">
        <xsd:annotation>
            <xsd:documentation>These two digits indicate the mission area. Assign a unique code for each mission area reported.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OandM" type="update-ITBudget-ext:AnnualOverallBudgetType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartofITPortfolio" type="ITBudgetFacet:PartofITPortfolioType">
        <xsd:annotation>
            <xsd:documentation>These two digits indicate the six parts of the IT Portfolio</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InfrastructureManagementCategory" type="ITBudgetFacet:InfrastructureManagementCategoryType">
        <xsd:annotation>
            <xsd:documentation>These two digits indicate the sub-category of Investments identified as Part 3: IT Investments for IT Infrastructure, IT Security, and IT Management.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PBGCflag" type="ITBudgetFacet:YesNoCodeType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>Indicates whether the submission is from PBGC or not. Will be allowed only for agency 012.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriorUII" type="nc:UIIType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriorYear" type="update-ITBudget-ext:AnnualBudgetType">
        <xsd:annotation>
            <xsd:documentation>An element used to describe an agency's spending during the prior year for a particuliar investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriorYearAmount" type="nc:AmountType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PrivateCloud" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProvisionedDME" type="update-ITBudget-ext:AnnualOverallBudgetType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProvisionedITSpending" type="update-ITBudget-ext:ProvisionedITSpendingType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecuritySpending" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EndofLifeSpendingCY" type="nc:AmountType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProvisionedOandM" type="update-ITBudget-ext:AnnualOverallBudgetType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PublicCloud" type="update-ITBudget-ext:AnnualLineItemType">
        <xsd:annotation>
            <xsd:documentation>TBD</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StatusIdentifier" type="ITBudgetFacet:StatusIdentifierCodeType">
        <xsd:annotation>
            <xsd:documentation>A code list used to describe how an investment has changed. It can have values of 1 through 8 were 8 is none. The values represent: (0) None. (1) Downgraded to non-major because it does not fit the criteria for Major investment in FY 2012, or because of insufficient activities or funding. (2) In budget year, this consolidated investment is no longer included in Major Investments, due to the split up into separate component investments. (3) In budget year, this investment is no longer a major investment, due to consolidation of activities into another investment. (4) Investment was subject to agency-wide realignment of the IT portfolio. (5) Investment was retired. (6) Investment was eliminated. (7) Upgraded to a major investment. (8) Other.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TypeofInvestment" type="ITBudgetFacet:TypeofInvestmentType">
        <xsd:annotation>
            <xsd:documentation>These two digits indicate your agency's type of investment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NationalSecuritySystemsIdentifier" type="ITBudgetFacet:NationalSecuritySystemsIdentifierType">
        <xsd:annotation>
            <xsd:documentation>These two digits indicate whether the Investment is a National Security System.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FEAPrimaryBRMService" type="nc:FEABRMServiceType">
        <xsd:annotation>
            <xsd:documentation>This is the three (3) digit code that indicates the predominant business function served by the Investment (not necessarily the mission/business of the Agency)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UniqueInvestmentID" type="update-ITBudget-ext:UniqueInvestmentIDType">
        <xsd:annotation>
            <xsd:documentation>Unique Investment Identifier is a persistent numeric code applied to an investment that allows the identification and tracking of an investment across multiple fiscal years of an agency’s investment portfolio. The unique investment identifier is composed of a 3-digit agency code concatenated with a 9-digit unique investment number generated by the agency. Some 9-digit numbers are reserved for OMB to assign and may not be assigned by agencies.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
