archive/Pre-2022/src/ITBudget/Subset/ITBudget-facet.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
   Copyright 2009-2017 United States Government.

   This software is licensed under the GNU General Public License
   version 2 (see the file LICENSE for details)
-->

<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:ITBudgetFacet="urn:us:gov:ITBudget-facets" targetNamespace="urn:us:gov:ITBudget-facets" version="4.0.0">
  <xsd:annotation>
    <xsd:documentation>None</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="niem/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:simpleType name="AgencyCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="005">
        <xsd:annotation>
          <xsd:documentation>Department of Agriculture</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="006">
        <xsd:annotation>
          <xsd:documentation>Department of Commerce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="007">
        <xsd:annotation>
          <xsd:documentation>Department of Defense—Military</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="009">
        <xsd:annotation>
          <xsd:documentation>Department of Health and Human Services</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="010">
        <xsd:annotation>
          <xsd:documentation>Department of the Interior</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="011">
        <xsd:annotation>
          <xsd:documentation>Department of Justice</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="012">
        <xsd:annotation>
          <xsd:documentation>Department of Labor</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="014">
        <xsd:annotation>
          <xsd:documentation>Department of State</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="015">
        <xsd:annotation>
          <xsd:documentation>Department of the Treasury</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="016">
        <xsd:annotation>
          <xsd:documentation>Social Security Administration</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="018">
        <xsd:annotation>
          <xsd:documentation>Department of Education</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="019">
        <xsd:annotation>
          <xsd:documentation>Department of Energy</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="020">
        <xsd:annotation>
          <xsd:documentation>Environmental Protection Agency</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="021">
        <xsd:annotation>
          <xsd:documentation>Department of Transportation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="023">
        <xsd:annotation>
          <xsd:documentation>General Services Administration</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="024">
        <xsd:annotation>
          <xsd:documentation>Department of Homeland Security</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="025">
        <xsd:annotation>
          <xsd:documentation>Department of Housing and Urban Development</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="026">
        <xsd:annotation>
          <xsd:documentation>National Aeronautics and Space Administration</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="027">
        <xsd:annotation>
          <xsd:documentation>Office of Personnel Management</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="028">
        <xsd:annotation>
          <xsd:documentation>Small Business Administration</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="029">
        <xsd:annotation>
          <xsd:documentation>Department of Veterans Affairs</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="202">
        <xsd:annotation>
          <xsd:documentation>Corps of Engineers-Civil Works</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="393">
        <xsd:annotation>
          <xsd:documentation>National Archives and Records Administration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="422">
        <xsd:annotation>
          <xsd:documentation>National Science Foundation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="429">
        <xsd:annotation>
          <xsd:documentation>Nuclear Regulatory Commission</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="452">
        <xsd:annotation>
          <xsd:documentation>Smithsonian Institution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="184">
        <xsd:annotation>
          <xsd:documentation>U.S. Agency for International Development</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AgencyCodeType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:AgencyCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="BureauCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BureauCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:BureauCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CloudComputingAlternativesEvaluationSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>This Investment or a portion of this Investment is leveraging cloud computing.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>This Investment is migrating to the cloud.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>This Investment is considering cloud computing.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Cloud computing has NOT been considered.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Cloud computing is NOT applicable for any portion of this Investment.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>Cloud computing has been considered but was not selected.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CloudComputingAlternativesEvaluationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:CloudComputingAlternativesEvaluationSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CostPoolCategorySimpleType">
    <xsd:annotation>
      <xsd:documentation>Cost Pool categories</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Total Internal Labor Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY cost represented by the number of government FTEs associated with the Investment.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total External Labor Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY cost for external labor; contractor fees, travel and expenses, associated with this Investment.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Outside Services Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY cost for outside services including consulting, managed service providers and cloud service providers.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Hardware Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY cost for hardware including expense, lease, maintenance and support, and depreciation and amortization.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Software Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY cost for software including expense, subscription, maintenance and support, and depreciation and amortization.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Facilities and Power Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BYcost for facilities and power including expense, lease, maintenance and support, and depreciation and amortization.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Telecom Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BYcost for telecom including expense, lease, maintenance and support, and depreciation and amortization.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Other Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total other cost for PY/CY/BY including miscellaneous or non-standard expenses.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Internal Services Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY internal services cost for shared services charges received from other internal shared services groups.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CostPoolCategoryType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:CostPoolCategorySimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ErrorCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Error 1</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Error 2</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ErrorCodeType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:ErrorCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="FundingSourceInvestmentLineStructureSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:documentation>Used for funding source</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FundingSourceInvestmentLineStructureType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:FundingSourceInvestmentLineStructureSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="HomelandSecurityIndicatorCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Intelligence and warning</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Border and transportation security</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Defense against catastrophic threats</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Protection of critical infrastructure and key assets</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Emergency preparedness and response</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>Other</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MissionSupportInvestmentCategorySimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:documentation>Not Applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:documentation>Financial Management</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:documentation>Human Resources</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:documentation>Procurement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="05">
        <xsd:annotation>
          <xsd:documentation>Travel / Transportation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="06">
        <xsd:annotation>
          <xsd:documentation>Grants Management</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="07">
        <xsd:annotation>
          <xsd:documentation>Other Inter-Agency Shared Services</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MissionSupportInvestmentCategoryType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:MissionSupportInvestmentCategorySimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="InfrastructureManagementCategorySimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:documentation>Not Applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:documentation>IT Security and Compliance</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:documentation>IT Management</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:documentation>Network</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="05">
        <xsd:annotation>
          <xsd:documentation>IT Infrastructure: Data Center, Cloud, and HPC</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="06">
        <xsd:annotation>
          <xsd:documentation>End User</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="07">
        <xsd:annotation>
          <xsd:documentation>Output</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="08">
        <xsd:annotation>
          <xsd:documentation>Application</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="09">
        <xsd:annotation>
          <xsd:documentation>Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:documentation>Platform</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InfrastructureManagementCategoryType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:InfrastructureManagementCategorySimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="InvestmentLineStructureSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="00">
        <xsd:annotation>
          <xsd:documentation>Used for investments</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InvestmentLineStructureType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:InvestmentLineStructureSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ITTowerCategorySimpleType">
    <xsd:annotation>
      <xsd:documentation>IT Tower categories</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Total Data Center Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY data center cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Compute Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY compute cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Storage Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY storage cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Network Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY network cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Output Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY output cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total End User Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY end user cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Application Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY application cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Delivery Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY delivery cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total IT Security and Compliance Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY security and compliance cost included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total IT Management Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY IT Management cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Total Platform Amount">
        <xsd:annotation>
          <xsd:documentation>This is the total PY/CY/BY platform cost associated with and included in this Investment’s total cost.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>      
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ITTowerCategoryType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:ITTowerCategorySimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LineItemDescriptorSimpleType">
    <xsd:annotation>
      <xsd:documentation>These two digits identify the nature of the “line item” in the Agency IT Portfolio Summary structure.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="00">
        <xsd:annotation>
          <xsd:documentation>Total Investment title line, structurally the first line for reporting this particular Investment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:documentation>Funding source or appropriation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="09">
        <xsd:annotation>
          <xsd:documentation>Any subtotal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:documentation>Required TBM Cost Pool - Internal Labor</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="11">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - External Labor</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="12">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Outside Services</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="13">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Hardware</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="14">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Software</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="15">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Facilities and Power</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="16">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Telecom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="17">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Other</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="18">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Internal Services</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="19">
        <xsd:annotation>
          <xsd:documentation>Optional TBM Cost Pool - Subtotal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="20">
        <xsd:annotation>
          <xsd:documentation>Public Cloud Cost </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="21">
        <xsd:annotation>
          <xsd:documentation>Private Cloud Cost</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="22">
        <xsd:annotation>
          <xsd:documentation>Community Cloud Cost</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="23">
        <xsd:annotation>
          <xsd:documentation>Hybrid Cloud Cost</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="24">
        <xsd:annotation>
          <xsd:documentation>Other Managed Services (non-cloud) Cost</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="29">
        <xsd:annotation>
          <xsd:documentation>Provisioned Services Subtotal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LineItemDescriptorType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:LineItemDescriptorSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MessageResponseCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Warning</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Erorr</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MessageResponseCodeType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:MessageResponseCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MissionAreaSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MissionAreaCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:MissionAreaSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="NationalSecuritySystemsIdentifierSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:documentation>Non-National Security System Investment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:documentation>National Security System Investment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NationalSecuritySystemsIdentifierType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:NationalSecuritySystemsIdentifierSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PartofITPortfolioSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:documentation>IT Investments for Mission Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:documentation>IT Investments for Administrative Services and Support Systems</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:documentation>IT Investments for IT Infrastructure, IT Security, and IT Management</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PartofITPortfolioType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:PartofITPortfolioSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ResponseInformationLevelSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>Information</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Error</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Warning</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ResponseInformationLevelType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:ResponseInformationLevelSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SharedServicesCategorySimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="00">
        <xsd:annotation>
          <xsd:documentation>Code for all investments other than those coded "24", "36", or "48".</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="24">
        <xsd:annotation>
          <xsd:documentation>E-Gov initiatives or an individual agency's participation in one of the E-Gov initiatives</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="36">
        <xsd:annotation>
          <xsd:documentation>SSPs (and their customers) previously designated by Treasury’s FIT and OPM’s HRLoB as well as any providers designated by the USSM.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="48">
        <xsd:annotation>
          <xsd:documentation>Any Multi-Agency (Inter- or Intra-Agency) collaboration or an individual Agency’s participation in one of these initiatives. This includes shared services not officially designated by USSM and excludes E-Gov/LoB initiatives and USSM designated shared services.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SharedServicesCategoryType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:SharedServicesCategorySimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="StatusIdentifierCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Upgrade</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Downgrade</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Split</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Consolidation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Reorganization</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>Eliminated by Funding</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="7">
        <xsd:annotation>
          <xsd:documentation>Eliminated by Split</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="8">
        <xsd:annotation>
          <xsd:documentation>Eliminated by Consolidation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="9">
        <xsd:annotation>
          <xsd:documentation>Eliminated by Reorganization</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:documentation>New</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="11">
        <xsd:annotation>
          <xsd:documentation>No change in status</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StatusIdentifierCodeType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:StatusIdentifierCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeofInvestmentSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:documentation>Major IT investments</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:documentation>Non-major IT investments</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:documentation>IT migration investment portion of a larger asset and for which there is an existing business case for the overall asset.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:documentation>Investments where the business case for the major IT investment is reported in another agency's Exhibit 53.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="05">
        <xsd:annotation>
          <xsd:documentation>Standard IT Infrastructure, IT Security, IT Management Investments</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="06">
        <xsd:annotation>
          <xsd:documentation>Uncategorized Infrastructure</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TypeofInvestmentType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:TypeofInvestmentSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="WarningCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Warning 1</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Warning 2</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="WarningCodeType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:WarningCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="YesNoCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>No</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Yes</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="YesNoCodeType">
    <xsd:annotation>
      <xsd:documentation>definition</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ITBudgetFacet:YesNoCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
