src-2022/BusinessCase/Extension/investmentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
   Copyright 2009-2011 United States Government. 

   This software is licensed under the GNU General Public License 
   version 2 (see the file LICENSE for details)
-->

<schema targetNamespace="urn:us:gov:businessCase-response"
        xmlns:businessCase-type="urn:us:gov:businessCase-type"
        xmlns:businessCase-facet="urn:us:gov:businessCase-facet"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:businessCase-response="urn:us:gov:businessCase-response"
        version="FY_2018">
  <annotation>
    <documentation>
      1. This schema SHOULD NOT BE directly used to Submit Data to ITDashboard.
      2. Any dates that are referred in this schema will be in 'YYYY-MM-DD' format.
    </documentation>
  </annotation>

  <import namespace="urn:us:gov:businessCase-type" schemaLocation="../Subset/businessCaseTypes.xsd"/>
  <import namespace="urn:us:gov:businessCase-facet" schemaLocation="../Subset/businessCaseFacet.xsd"/>

  <element name="capitalAssetPlan">
    <complexType>
      <sequence>
        <element ref="businessCase-response:capitalAssetSummary"/>
        <element ref="businessCase-response:performanceMeasureReport" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="capitalAssetSummary">
    <complexType>
      <sequence>
        <element ref="businessCase-response:agency"/>
        <element ref="businessCase-response:uniqueInvestmentIdentifier"/>
        <element ref="businessCase-response:investmentDetails" minOccurs="0"/>
        <element ref="businessCase-response:lifeCycleCosts" minOccurs="0"/>
        <element ref="businessCase-response:investmentStartEndDates" minOccurs="0"/>
        <element ref="businessCase-response:changesFromPreviousBudget" minOccurs="0"/>
        <element ref="businessCase-response:cioRating" minOccurs="0"/>
        <element ref="businessCase-response:investmentStatus" minOccurs="0"/>
        <element ref="businessCase-response:businessCaseId" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="investmentDetails">
    <complexType>
      <sequence>
        <!--<element ref="businessCase-response:investmentDescription" minOccurs="0"/>-->
        <element ref="businessCase-response:objectivesOrGoals" minOccurs="0"/>
        <element ref="businessCase-response:returnOnInvestmentDescription" minOccurs="0"/>
        <!--<element ref="businessCase-response:investmentRequirements" minOccurs="0"/>-->
        <element ref="businessCase-response:investmentsEliminatedorReduced" minOccurs="0"/>
        <element ref="businessCase-response:investmentSharedService" minOccurs="0"/>
        <element ref="businessCase-response:plannedSharedService" minOccurs="0"/>
        <!--<element ref="businessCase-response:investmentPivEnabled" minOccurs="0"/>
        <element ref="businessCase-response:publicURLs" minOccurs="0"/>-->
        <element ref="businessCase-response:ombControlNumbers" minOccurs="0"/>
        <element ref="businessCase-response:pmDetails" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="performanceMeasureReport">
    <complexType>
      <sequence>
        <element ref="businessCase-response:projectFundingPlan" minOccurs="0"/>
        <element ref="businessCase-response:operationalAnalysis" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetrics" minOccurs="0"/>
        <element ref="businessCase-response:investmentRisks" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <complexType name="objectivesOrGoalsType">
    <sequence>
      <element ref="businessCase-response:investmentObjectiveOrGoal" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="investmentObjectiveOrGoalType">
    <sequence>
      <element ref="businessCase-response:objectiveOrGoalID"/>
      <element ref="businessCase-response:agencyObjectiveOrGoalID" minOccurs="0"/>
      <element ref="businessCase-response:objectiveOrGoal" minOccurs="0"/>
      <element ref="businessCase-response:isActive" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="investmentsEliminatedorReduced">
    <complexType>
      <sequence>
        <element ref="businessCase-response:investmentEliminatedorReduced" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <element name="investmentEliminatedorReduced">
    <complexType>
      <sequence>
        <element ref="businessCase-response:investmentEliminatedorReducedID"/>
        <element ref="businessCase-response:agencyInvestmentEliminatedorReducedID" minOccurs="0"/>
        <element ref="businessCase-response:UII" minOccurs="0"/>
        <element ref="businessCase-response:eliminationReduction" minOccurs="0"/>
        <element ref="businessCase-response:isActive" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <complexType name="contactInformationType">
    <sequence>
      <element ref="businessCase-response:contactId"/>
      <element ref="businessCase-response:agencyContactId" minOccurs="0"/>
      <element ref="businessCase-response:contactType" minOccurs="0"/>
      <element ref="businessCase-response:contactTitle" minOccurs="0"/>
      <element ref="businessCase-response:contactDetail" minOccurs="0"/>
      <element ref="businessCase-response:isActive" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="contactDetailType">
    <sequence>
      <element ref="businessCase-response:contactName" minOccurs="0"/>
      <element ref="businessCase-response:contactNumber" minOccurs="0"/>
      <element ref="businessCase-response:contactNumberExt" minOccurs="0"/>
      <element ref="businessCase-response:contactEmail" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="lifeCycleCosts">
    <complexType>
      <sequence>
        <element ref="businessCase-response:planningBudgetaryResourcesPY-1" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesPY" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesCY" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesBY" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesFY_1" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesFY_2" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesFY_3" minOccurs="0"/>
        <element ref="businessCase-response:planningBudgetaryResourcesFY_4_Beyond" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesPY-1" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesPY" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesCY" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesBY" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesFY_1" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesFY_2" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesFY_3" minOccurs="0"/>
        <element ref="businessCase-response:dmeBudgetaryResourcesFY_4_Beyond" minOccurs="0"/>      
        <element ref="businessCase-response:dmeGovernmentFTECostsPY-1" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsPY" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsCY" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsBY" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsFY_1" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsFY_2" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsFY_3" minOccurs="0"/>
        <element ref="businessCase-response:dmeGovernmentFTECostsFY_4_Beyond" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesPY-1" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesPY" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesCY" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesBY" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesFY_1" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesFY_2" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesFY_3" minOccurs="0"/>
        <element ref="businessCase-response:maintenanceBudgetaryResourcesFY_4_Beyond" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsPY-1" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsPY" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsCY" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsBY" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsFY_1" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsFY_2" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsFY_3" minOccurs="0"/>
        <element ref="businessCase-response:omdGovernmentFTECostsFY_4_Beyond" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberPY-1" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberPY" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberCY" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberBY" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberFY_1" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberFY_2" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberFY_3" minOccurs="0"/>
        <element ref="businessCase-response:governmentFTENumberFY_4_Beyond" minOccurs="0"/>
        <element ref="businessCase-response:priorYearCostChangePY" minOccurs="0"/>
        <element ref="businessCase-response:priorYearCostChangeCY" minOccurs="0"/>
        <element ref="businessCase-response:priorYearCostPercentageChangePY" minOccurs="0"/>
        <element ref="businessCase-response:priorYearCostPercentageChangeCY" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="investmentStartEndDates">
    <complexType>
      <sequence>
        <element ref="businessCase-response:investmentStartYear" minOccurs="0"/>
        <element ref="businessCase-response:investmentEndYear" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="publicURLs">
    <complexType>
      <sequence>
        <element ref="businessCase-response:publicURL" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <element name="ombControlNumbers">
     <complexType>
       <sequence>
         <element ref="businessCase-response:ombControlNumber" minOccurs="0" maxOccurs="unbounded"/>
       </sequence>
     </complexType>
  </element>
 

  <element name="pmDetails">
    <complexType>
      <sequence>
        <element ref="businessCase-response:pmName"/>
        <element ref="businessCase-response:pmEmail"/>
        <element ref="businessCase-response:pmQualifications"/>
      </sequence>
    </complexType>
  </element>

  <complexType name="attachment">
    <sequence>
      <element ref="businessCase-response:title"/>
      <element ref="businessCase-response:binaryObject"/>
    </sequence>
  </complexType>

  <complexType name="binaryType">
    <sequence>
      <element ref="businessCase-response:binaryObject"/>
    </sequence>
  </complexType>

  <complexType name="base64Binary">
    <simpleContent>
      <extension base="base64Binary">
        <attribute name="contentType" type="string" use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <element name="performanceMetrics">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="businessCase-response:performanceMetric"/>
      </sequence>
    </complexType>
  </element>

  <element name="performanceMetric">
    <complexType>
      <sequence>
        <element ref="businessCase-response:performanceMetricId"/>
        <element ref="businessCase-response:agencyPerformanceMetricId" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricDescription" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricUOM" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricCategory" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricBaselineCapability" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricPYTarget" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricCYTarget" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricCondition" minOccurs="0"/>
        <element ref="businessCase-response:performancePeriodicity" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricActuals" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricObjectiveOrGoal" minOccurs="0"/>
        <element ref="businessCase-response:isActive" minOccurs="0"/>
        <element ref="businessCase-response:isClosed"/>
      </sequence>
    </complexType>
  </element>

  <element name="performanceMetricActuals">
    <complexType>
      <sequence>
        <element ref="businessCase-response:performanceMetricActual" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <element name="performanceMetricActual">
    <complexType>
      <sequence>
        <element ref="businessCase-response:performanceMetricActualID"/>
        <element ref="businessCase-response:agencyPerformanceMetricActualID" minOccurs="0"/>
        <element ref="businessCase-response:performanceMetricActualResult"/>
        <element ref="businessCase-response:performanceMetricDateofActual"/>
        <element ref="businessCase-response:performanceMetricComment" minOccurs="0"/>
        <element ref="businessCase-response:isActive" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="investmentRisks">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="businessCase-response:investmentRisk"/>
      </sequence>
    </complexType>
  </element>

  <element name="investmentRisk">
    <complexType>
      <sequence>
        <element ref="businessCase-response:investmentRiskId"/>
        <element ref="businessCase-response:agencyInvestmentRiskId" minOccurs="0"/>
        <element ref="businessCase-response:investmentRiskName" minOccurs="0"/>
        <element ref="businessCase-response:investmentRiskArea" minOccurs="0"/>
        <element ref="businessCase-response:investmentRiskProbability" minOccurs="0"/>
        <element ref="businessCase-response:investmentRiskImpact" minOccurs="0"/>
        <element ref="businessCase-response:investmentRiskMitigationPlan" minOccurs="0"/>
        <element ref="businessCase-response:isActive" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="projectFundingPlan">
    <complexType>
      <sequence>
        <element ref="businessCase-response:projects"/>
      </sequence>
    </complexType>
  </element>

  <element name="projects">
    <complexType>
      <sequence>
        <element ref="businessCase-response:project" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <element name="project">
    <complexType>
      <sequence>
        <element ref="businessCase-response:projectId"/>
        <element ref="businessCase-response:agencyProjectId" minOccurs="0"/>
        <element ref="businessCase-response:projectDetail" minOccurs="0"/>
        <!--<element ref="businessCase-response:projectMetric" minOccurs="0"/>-->
        <element ref="businessCase-response:projectActivities" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="projectDetail">
    <complexType>
      <sequence>
        <element ref="businessCase-response:uniqueProjectId"/>
        <element ref="businessCase-response:projectName" minOccurs="0"/>
        <element ref="businessCase-response:projectGoal" minOccurs="0"/>
        <element ref="businessCase-response:projectStartDate" minOccurs="0"/>
        <element ref="businessCase-response:projectCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:projectLifeCycleCost" minOccurs="0"/>
        <element ref="businessCase-response:softwareProject" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <!--
  <element name="projectMetric">
    <complexType>
      <sequence>
        <element ref="businessCase-response:newOrExisting" minOccurs="0"/>
        <element ref="businessCase-response:newMetric" minOccurs="0"/>
        <element ref="businessCase-response:existingMetric" minOccurs="0"/>
        <element ref="businessCase-response:deploymentTarget" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
  
  <element name="newMetric">
    <complexType>
      <sequence>
        <element ref="businessCase-response:description" minOccurs="0"/>
        <element ref="businessCase-response:unitOfMeasure" minOccurs="0"/>
        <element ref="businessCase-response:measurementCondition" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
  
  <element name="existingMetric">
    <complexType>
      <sequence>
        <element ref="businessCase-response:metricID" minOccurs="0"/>
        <element ref="businessCase-response:agencyMetricID" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
  -->

  <element name="projectActivities">
    <complexType>
      <sequence>
        <element ref="businessCase-response:projectActivity" minOccurs="0" maxOccurs="unbounded"/>
        <element ref="businessCase-response:agileProjectActivity" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  
  <element name="projectActivity">
    <complexType>
      <sequence>
        <element ref="businessCase-response:activityId"/>
        <element ref="businessCase-response:agencyActivityId" minOccurs="0"/>
        <element ref="businessCase-response:uniqueProjectId" minOccurs="0"/>
        <element ref="businessCase-response:activityName" minOccurs="0"/>
        <element ref="businessCase-response:activityDescription" minOccurs="0"/>
        <element ref="businessCase-response:structureId" minOccurs="0"/>
        <element ref="businessCase-response:plannedStartDate" minOccurs="0"/>
        <element ref="businessCase-response:projectedStartDate" minOccurs="0"/>
        <element ref="businessCase-response:actualStartDate" minOccurs="0"/>
        <element ref="businessCase-response:plannedCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:projectedCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:actualCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:plannedTotalCost" minOccurs="0"/>
        <element ref="businessCase-response:projectedTotalCost" minOccurs="0"/>
        <element ref="businessCase-response:actualTotalCost" minOccurs="0"/>
        <element ref="businessCase-response:isActive" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="agileProjectActivities">
    <complexType>
      <sequence>
        <element ref="businessCase-response:agileProjectActivity" maxOccurs="unbounded"/>

      </sequence>
    </complexType>
  </element>

  <element name="agileProjectActivity">
    <complexType>
      <sequence>
        <element ref="businessCase-response:activityId"/>
        <element ref="businessCase-response:agencyActivityId" minOccurs="0"/>
        <element ref="businessCase-response:uniqueProjectId" minOccurs="0"/>
        <element ref="businessCase-response:releaseName" minOccurs="0"/>
        <element ref="businessCase-response:releaseNumber" minOccurs="0"/>
        <element ref="businessCase-response:releaseDescription" minOccurs="0"/>
        <element ref="businessCase-response:NPI" minOccurs="0"/>
        <element ref="businessCase-response:NPE" minOccurs="0"/>
        <element ref="businessCase-response:NCE" minOccurs="0"/>
        <element ref="businessCase-response:NCI" minOccurs="0"/>
        <element ref="businessCase-response:DTC" minOccurs="0"/>
        <element ref="businessCase-response:DPC" minOccurs="0"/>
        <element ref="businessCase-response:plannedStartDate" minOccurs="0"/>
        <element ref="businessCase-response:projectedStartDate" minOccurs="0"/>
        <element ref="businessCase-response:actualStartDate" minOccurs="0"/>
        <element ref="businessCase-response:plannedCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:projectedCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:actualCompletionDate" minOccurs="0"/>
        <element ref="businessCase-response:plannedTotalCost" minOccurs="0"/>
        <element ref="businessCase-response:projectedTotalCost" minOccurs="0"/>
        <element ref="businessCase-response:actualTotalCost" minOccurs="0"/>
        <element ref="businessCase-response:isActive" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="cioRating">
    <complexType>
      <sequence>
        <element ref="businessCase-response:cioRatingEval"/>
        <element ref="businessCase-response:cioComment"/>
      </sequence>
    </complexType>
  </element>

    <element name="operationalAnalysis">
    <complexType>
      <sequence>
        <element ref="businessCase-response:dateOfAnalysis" minOccurs="0"/>
        <element ref="businessCase-response:analysisResults" minOccurs="0"/>
        <element ref="businessCase-response:analysisConclusion" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>

  <element name="agency" type="businessCase-facet:agencyString"/>
  <element name="uniqueInvestmentIdentifier" type="businessCase-type:investmentIdentifierType"/>
  <element name="investmentDescription" type="businessCase-type:longTextString"/>
  <element name="investmentObjectiveOrGoal" type="businessCase-response:investmentObjectiveOrGoalType"/>
  <element name="objectivesOrGoals" type="businessCase-response:objectivesOrGoalsType"/>
  <element name="objectiveOrGoalID" type="integer"/>
  <element name="agencyObjectiveOrGoalID" type="businessCase-type:shortTextString"/>
  <element name="objectiveOrGoal" type="businessCase-type:objectiveOrGoalType"/>
  <element name="investmentSharedService" type="businessCase-facet:yesNoString"/>
  <element name="plannedSharedService" type="businessCase-facet:yesNoString"/>
  <element name="investmentPivEnabled" type="businessCase-facet:yesNoString"/>
  <element name="publicURL" type="businessCase-type:URLString"/>
  <element name="ombControlNumber" type="businessCase-type:longTextString"/>
  <element name="pmName" type="businessCase-type:shortTextString"/>
  <element name="pmEmail" type="businessCase-type:shortTextString"/>
  <element name="pmQualifications" type="businessCase-facet:projectManagerQualification"/>
  <element name="investmentURL" type="businessCase-type:URLString"/>
  <element name="UII" type="businessCase-type:investmentIdentifierType"/>
  <element name="investmentEliminatedorReducedID" type="integer"/>
  <element name="agencyInvestmentEliminatedorReducedID" type="businessCase-type:shortTextString"/>
  <element name="eliminationReduction" type="businessCase-facet:eliminationReductionType"/>
  <element name="isActive" type="businessCase-facet:isActiveString"/>
  <element name="returnOnInvestmentDescription" type="businessCase-type:string3500"/>
  <element name="investmentRequirements" type="businessCase-type:longTextString"/>

  <element name="contactInformation" type="businessCase-response:contactInformationType"/>
  <element name="contactId" type="integer"/>
  <element name="agencyContactId" type="businessCase-type:shortTextString"/>
  <element name="contactType" type="businessCase-facet:contactTypes"/>
  <element name="contactDetail" type="businessCase-response:contactDetailType"/>
  <element name="contactTitle" type="businessCase-type:shortTextString"/>
  <element name="contactName" type="businessCase-type:shortTextString"/>
  <element name="contactNumber" type="businessCase-type:phoneNumber" nillable="true"/>
  <element name="contactNumberExt" type="businessCase-type:phoneExtension" nillable="true"/>
  <element name="contactEmail" type="businessCase-type:shortTextString"/>

  <element name="investmentStatus" type="businessCase-type:shortTextString"/>
  <element name="businessCaseId" type="integer"/>
  
  <element name="planningBudgetaryResourcesPY-1" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="planningBudgetaryResourcesPY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="planningBudgetaryResourcesCY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="planningBudgetaryResourcesBY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="planningBudgetaryResourcesFY_1" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="planningBudgetaryResourcesFY_2" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="planningBudgetaryResourcesFY_3" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="planningBudgetaryResourcesFY_4_Beyond" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="dmeBudgetaryResourcesPY-1" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="dmeBudgetaryResourcesPY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeBudgetaryResourcesCY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeBudgetaryResourcesBY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeBudgetaryResourcesFY_1" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeBudgetaryResourcesFY_2" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeBudgetaryResourcesFY_3" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeBudgetaryResourcesFY_4_Beyond" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesPY-1" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesPY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesCY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesBY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesFY_1" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesFY_2" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesFY_3" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="maintenanceBudgetaryResourcesFY_4_Beyond" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="dmeGovernmentFTECostsPY-1" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="dmeGovernmentFTECostsPY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeGovernmentFTECostsCY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeGovernmentFTECostsBY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeGovernmentFTECostsFY_1" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeGovernmentFTECostsFY_2" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeGovernmentFTECostsFY_3" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="dmeGovernmentFTECostsFY_4_Beyond" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="omdGovernmentFTECostsPY-1" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="omdGovernmentFTECostsPY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="omdGovernmentFTECostsCY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="omdGovernmentFTECostsBY" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="omdGovernmentFTECostsFY_1" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="omdGovernmentFTECostsFY_2" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="omdGovernmentFTECostsFY_3" type="businessCase-type:dollarAmount" nillable="true"/>
  <element name="omdGovernmentFTECostsFY_4_Beyond" type="businessCase-type:multiYearDollarType" nillable="true"/>
  <element name="governmentFTENumberPY-1" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberPY" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberCY" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberBY" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberFY_1" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberFY_2" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberFY_3" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="governmentFTENumberFY_4_Beyond" type="businessCase-type:governmentFTENumberType" nillable="true"/>
  <element name="priorYearCostChangePY" type="businessCase-type:negativeDollarAmount" nillable="true"/>
  <element name="priorYearCostChangeCY" type="businessCase-type:negativeDollarAmount" nillable="true"/>
  <element name="priorYearCostPercentageChangePY" type="businessCase-type:ITPercentage" nillable="true"/>
  <element name="priorYearCostPercentageChangeCY" type="businessCase-type:ITPercentage" nillable="true"/>

  <element name="investmentStartYear" type="businessCase-type:investmentYear" nillable="true"/>
  <element name="investmentEndYear" type="businessCase-type:investmentYear" nillable="true"/>
  <element name="changesFromPreviousBudget" type="businessCase-type:mediumTextString"/>
  <element name="contractNumber" type="businessCase-type:shortTextString"/>
  <element name="referencedPIID" type="businessCase-type:referencedPIIDType"/>
  <element name="contractPurpose" type="businessCase-type:mediumTextString"/>
  <element name="ITLeaseCategory" type="businessCase-facet:ITLeaseCategoryType" nillable="true"/>
  <element name="informationSecurityClause" type="businessCase-facet:yesNoString"/>

  <element name="cioRatingEval" type="businessCase-type:cioRatingType"/>
  <element name="cioComment" type="businessCase-type:longTextString"/>
  <element name="contractId" type="integer"/>
  <element name="agencyContractId" type="businessCase-type:shortTextString"/>

  <element name="performanceMetricId" type="integer"/>
  <element name="agencyPerformanceMetricId" type="businessCase-type:shortTextString"/>
  <element name="performanceMetricDescription" type="businessCase-type:mediumTextString"/>
  <element name="performanceMetricUOM" type="businessCase-type:string50"/>
  <element name="performanceMetricCategory" type="businessCase-facet:metricCategoryTypes"/>
  <element name="performanceMetricBaselineCapability" type="businessCase-type:metricUnitType"/>
  <element name="performanceMetricPYTarget" type="businessCase-type:metricUnitType"/>
  <element name="performanceMetricCYTarget" type="businessCase-type:metricUnitType"/>
  <element name="performanceMetricCondition" type="businessCase-facet:prmConditionTypes"/>
  <element name="performancePeriodicity" type="businessCase-facet:measureReportingFrequencyType"/>
  <element name="performanceMetricActualResult" type="businessCase-type:metricUnitType"/>
  <element name="performanceMetricComment" type="businessCase-type:mediumTextString"/>
  <element name="performanceMetricActualID" type="integer"/>
  <element name="agencyPerformanceMetricActualID" type="businessCase-type:shortTextString"/>
  <element name="performanceMetricDateofActual" type="businessCase-type:investmentDateType"/>
  <element name="isClosed" type="businessCase-facet:yesNoString"/>
  <element name="performanceMetricObjectiveOrGoal" type="businessCase-type:objectiveOrGoalType"/>

  <element name="dateOfAnalysis" type="businessCase-type:investmentDateType"/>
  <element name="analysisResults" type="businessCase-type:longTextString"/>
  <element name="analysisConclusion" type="businessCase-facet:analysisConclusionType"/>

  <!-- investment risk elements -->
  <element name="investmentRiskId" type="integer"/>
  <element name="agencyInvestmentRiskId" type="businessCase-type:shortTextString"/>
  <element name="investmentRiskName" type="businessCase-type:mediumTextString"/>
  <element name="investmentRiskArea" type="businessCase-facet:riskType"/>
  <element name="investmentRiskProbability" type="businessCase-facet:impactType"/>
  <element name="investmentRiskImpact" type="businessCase-facet:impactType"/>
  <element name="investmentRiskMitigationPlan" type="businessCase-type:mediumTextString"/>

  <!-- project elements -->
  <element name="projectId" type="integer"/>
  <element name="agencyProjectId" type="businessCase-type:shortTextString"/>
  <element name="uniqueProjectId" type="businessCase-type:string10"/>
  <element name="projectName" type="businessCase-type:shortTextString"/>
  <element name="projectGoal" type="businessCase-type:shortTextString"/>
  <element name="softwareProject" type="businessCase-facet:yesNoString"/>
  <element name="projectStartDate" type="businessCase-type:investmentDateType"/>
  <element name="projectCompletionDate" type="businessCase-type:investmentDateType"/>
  <element name="projectLifeCycleCost" type="businessCase-type:dollarAmount"/>

  <!-- projectMetric elements -->
  <!--
  <element name="newOrExisting" type="businessCase-type:longTextString"/>
  <element name="deploymentTarget" type="businessCase-type:longTextString"/>
  <element name="description" type="businessCase-type:longTextString"/>
  <element name="unitOfMeasure" type="businessCase-type:shortTextString"/>
  <element name="measurementCondition" type="businessCase-facet:prmConditionTypes"/>
  <element name="metricID" type="integer"/>
  <element name="agencyMetricID" type="businessCase-type:shortTextString"/>
  -->
  <!-- sub-project / activity elements -->
  <element name="activityId" type="integer"/>
  <element name="agencyActivityId" type="businessCase-type:shortTextString"/>
  <element name="activityName" type="businessCase-type:shortTextString"/>
  <element name="activityDescription" type="businessCase-type:longTextString"/>
  <element name="structureId" type="string"/>
  <element name="plannedStartDate" type="businessCase-type:investmentDateType"/>
  <element name="projectedStartDate" type="businessCase-type:investmentDateType"/>
  <element name="actualStartDate" type="businessCase-type:investmentDateType"/>
  <element name="plannedTotalCost" type="businessCase-type:dollarAmount"/>
  <element name="projectedTotalCost" type="businessCase-type:dollarAmount"/>
  <element name="actualTotalCost" type="businessCase-type:dollarAmount"/>
  <element name="plannedCompletionDate" type="businessCase-type:investmentDateType"/>
  <element name="projectedCompletionDate" type="businessCase-type:investmentDateType"/>
  <element name="actualCompletionDate" type="businessCase-type:investmentDateType"/>

  <!-- agile activity elements -->
  <element name="releaseName" type="businessCase-type:shortTextString"/>
  <element name="releaseNumber" type="businessCase-type:string50"/>
  <element name="releaseDescription" type="businessCase-type:longTextString"/>
  <element name="NPI" type="businessCase-type:agileSprints"/>
  <element name="NPE" type="businessCase-type:agileEpics"/>
  <element name="NCE" type="businessCase-type:agileEpics"/>
  <element name="NCI" type="businessCase-type:agileSprints"/>
  <element name="DTC" type="businessCase-type:agileContributors"/>
  <element name="DPC" type="businessCase-type:agileContributors"/>

  <!-- Systems Inventory Elements -->
  <element name="systemId" type="integer"/>
  <element name="agencySystemId" type="businessCase-type:shortTextString" nillable="true"/>
  <element name="systemName" type="businessCase-type:shortTextString"/>
  <element name="initialOperatingYear" type="businessCase-type:investmentYear"/>
  <element name="techRefreshDate" type="businessCase-type:investmentDateType"/>
  <element name="endOfContractedSupportDate" type="businessCase-type:investmentDateType"/>
  <element name="averageUsersPerMonth" type="integer"/>

  <element name="binaryObject" abstract="true"/>
  <element substitutionGroup="businessCase-response:binaryObject" name="binaryBase64Object" type="businessCase-response:base64Binary"/>
  <element name="title" type="businessCase-type:shortTextString"/>

</schema>